aside li a::before {
    content: '🔗 ';
    font-size: 1rem;
    color: grey;
}

#feedback div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

article iframe {
    display: block;
    margin: 1rem auto;
}

article p:last-child {
    text-align: end;
}

article figure {
    margin: 0 0 1rem 0;
    padding: .5rem;
    border: 1px solid lightgray;
}

article figure img {
    width: 100%;
}

article figcaption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    color: dimgray;
    padding: .5rem 0 .1rem 0;
}

article blockquote {
    font-style: italic;
    color: dimgray;
    padding: .1rem 0 .1rem 2rem;
    border-left: 3px solid lightgray;
    text-align: start !important;
    margin: 1rem 0 1rem 0;
}

article blockquote p{
    text-align: start !important;
    margin-bottom: .3rem;
}

footer {
    text-align: center;
    font-size: smaller;
}

#intro, #feedback, #article {
    max-width: 80ch;
    margin: 3rem auto;
}

#brand-image {
    width: 32px;
    height: 32px;
}